        .img-box {
            background: url("images/company.jpg");
            background-size: cover;
            background-position-x: center;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            z-index: -2;
            filter: blur(1px);
        }
        .wrapper {
            height: 100vh;
            display: flex;
            padding-top: 8%;
            align-items: center;
            flex-direction: column;
        }
        .wrapper-box {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h3 {
            color: #0e0e0e;
            font-weight: 600;
            font-size: 48px;
            margin-bottom: 86px;
            background: #e2e2e24f;
            padding: 2px 0;
            width: 620px;
            border-radius: 6px;
            box-shadow: 0 0 10px black;
            text-align: center;
        }
        
        .div {
            width: 300px;
            height: 280px;
            border: 1px solid #afafaf;
            border-radius: 6px;
            overflow: hidden;
            margin: 0 12px;
            box-shadow: 0 0 10px #000000a1;
        }

        .div-1:hover a, .div-2:hover a {
            background: #000000db;
            color: white;
            cursor: pointer;
            text-decoration: none;
        }

        .div img {
            width: 100%;
            max-width: 100%;
            height: 75%;
        }

        .div a {
            font-size: 16px;
            font-weight: 600;
            background: #ffffff70;
            color: black;
            text-align: center;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25%;
        }

        .sign-in {
            width: 620px;
        }
        .sign-in a:hover {
            background: #0000001a;
            color: black;
            box-shadow: 0 0 10px black;
            font-weight: 600;
            cursor: pointer;
            text-decoration: none;
        }

        .sign-in a {
            display: flex;
            justify-content: center;
            background: #000000db;
            text-align: center;
            color: white;
            box-shadow: 0 6px 10px #000000;
            padding: 20px 0;
            margin-top: 24px;
            border-radius: 6px;
        }
    