<!DOCTYPE html>
<html>


<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block css %}{% endblock  %}
</head>

<body>
    {% block content %}

    <div class="container">
        <div class="table-wrapper">
        
    
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr.no</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>Created Date</th>
                    </tr>
                </thead>
    
                <tbody>
                    {% set index=1 %}
                    {% for data in data %}
    
                    <tr>
                        <td style="word-break: break-all;">{{index}}</td>
                        <td style="word-break: break-all;">{{data.name}}</td>
                        <td style="word-break: break-all;">{{data.email}}</td>
                        <td style="word-break: break-all;">{{data.number}}</td>
                        <td style="word-break: break-all;">{{data.address}}</td>
                        <td style="word-break: break-all;">{{data.created_at| date('y-m-d')}}</td>
                        
                    </tr>
                    {% set index=index+1 %}
                    {% endfor %}
    
    
                </tbody>
            </table>
    
    
        </div>
    
    </div>

    {% endblock  %}
    {% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
    <script src="/javascripts/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.2/bootbox.js"></script>
    
    
</body>

</html>