<html>
{% extends 'layout.html' %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
{% block css %}{% endblock  %}

<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                {% if message.success %}
                <div class="alert alert-success">
                    <strong>Success!</strong>
                    {{message.success}}.
                </div>
                {% endif %}

                {% if message.warning %}
                <div class="alert alert-warning">
                    <strong>Warning!</strong>
                    {{message.warning}}.
                </div>
                {% endif %}

                {% if message.error %}
                <div class="alert alert-danger">
                    <strong>Error!</strong>
                    {{message.error}}.
                </div>
                {% endif %}

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="portlet box yellow">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Add User
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>
                            <a href="javascript:;" class="reload">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->

                        <form action="/user/edit/{{data.id}}" method="POST" id="myform" class="form-horizontal">
                            <div class="form-body">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button>
                                    You have some form errors. Please check below.
                                </div>
                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button>
                                    Your form validation is successful!
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Name <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" name="name" id="name" placeholder="Name"
                                                value="{{data.name}}" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Email <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" name="email" id="email" placeholder="Email"
                                                value="{{data.email}}" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Password <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" name="password" id="password" placeholder="password"
                                                value="{{data.password}}" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Phone <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" name="number" id="phone" placeholder="Phone"
                                                value="{{data.number}}" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="locationField">
                                    <label class="control-label col-md-3">Address <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input id="autocomplete" placeholder="Enter your address"
                                                onFocus="geolocate()" type="text" id="add" class="form-control"
                                                value="{{data.address}}" name="address">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">Phone <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>

                                            <table id="address">
                                                <tr>
                                                    <td class="label" style="color: black;">Street address</td>
                                                    <td class="slimField"><input class="field" id="street_number"
                                                            disabled="true" name="streetaddress" /></td>
                                                    <td class="wideField" colspan="2"><input class="field" id="route"
                                                            disabled="true" name="streetaddress" /></td>
                                                </tr>
                                                <tr>
                                                    <td class="label" style="color: black;">City</td>
                                                    <td class="wideField" colspan="3"><input class="field" id="locality"
                                                            disabled="true" name="city" value="{{data.city}}" /></td>
                                                </tr>
                                                <tr>
                                                    <td class="label" style="color: black;">State</td>
                                                    <td class="slimField"><input class="field"
                                                            id="administrative_area_level_1" disabled="true"
                                                            name="state" value="{{data.state}}" /></td>
                                                    <td class="label" style="color: black;">Zip code</td>
                                                    <td class="wideField"><input class="field" id="postal_code"
                                                            disabled="true" value="{{data.pin}}" name="pin" /></td>
                                                </tr>
                                                <tr>
                                                    <td class="label" style="color: black;">Country</td>
                                                    <td class="wideField" colspan="3"><input class="field" id="country"
                                                            value="{{data.country}}" disabled="true" name="country" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green" id="button">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
        {% endblock  %}
        {% block js %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
        <script src="/javascripts/custom.js"></script>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTesZeG24_38qThSoUg6hXrEUdOpMRS84&libraries=places&callback=initAutocomplete"
            async defer></script>
        {% endblock  %}
</body>

</html>