
 <html>
        {% extends 'layout.html' %}
        {% block css %}
        
        {% endblock  %}
        
        <body>
            {% block content %}
     <div class="row">
                    <div class="col-md-12">
                            
                        <!-- BEGIN VALIDATION STATES-->
                        <div class="portlet box yellow">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-gift"></i>Add Template
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse">
                                    </a>
                                    <a href="javascript:;" class="reload">
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                
                        <form action="/emailTemplate" method="POST" id="form_sample_2" class="form-horizontal">
                            <div class="form-body">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button>
                                    You have some form errors. Please check below.
                                </div>
                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button>
                                    Your form validation is successful!
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Name <span class="required">
                                    * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" class="form-control" name="name"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Subject <span class="required">
                                    * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" class="form-control" name="subject"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Content <span class="required">
                                    * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <textarea class="CKEDITOR" name="content" id="content" >{{data.content}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                        <!-- END VALIDATION STATES-->
                    </div>
                </div>
               
            {% endblock  %}
            {% block js %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
            <script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
            <script>
                    CKEDITOR.replace( 'content' );

                    $( document ).ready(function() {
  $("#form_sample_2").validate({
    ignore: [],
              debug: false,
    rules: {
      name: {
        required: true
        },
      subject: {
    required: true
    },
    content: {
        required: function() 
                        {
                         CKEDITOR.instances.content.updateElement();
                        },
                        minlength:10,
                        maxlength:500,
    }

    },
    messages: {
        name: 'Please enter the Name',
        subject: 'Please enter your Subject',
        content: 'Please enter your Content',
   
    }
    });
  
});
            </script>
            {% endblock  %}
        </body>
        
        </html>