<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}
<!--<![endif]-->
<!-- BEGIN HEAD -->

<body>
	{% block content %}

    <div class="tab-pane " id="tab_1_3">
            <form action="/user/importeCsv" enctype="multipart/form-data" method="POST">
                <div class="form-group">
                    <div class="fileinput fileinput-new"
                        data-provides="fileinput">
                        <div class="fileinput-new thumbnail"
                            style="width: 200px; height: 150px;">
                            <img src="" id="profile-img-tag" alt=""
                                class="img-circle" />
                            <!-- <img src="" id="profile-img-tag" width="200px" /> -->

                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail"
                            style="max-width: 200px; max-height: 150px;">
                        </div>
                        <div>
                            <span class="btn default btn-file">
                                <input type="file" name="file"
                                    id="profile-img" />

                            </span>
                            <a href="javascript:;"
                                class="btn default fileinput-exists"
                                data-dismiss="fileinput" id="remove">
                                Remove </a>
                        </div>
                    </div>

                </div>
                <div class="margin-top-10">
                    <input type="submit" value="update" class="btn btn-primary">
                    <a href="javascript:;" class="btn default">
                        Cancel </a>
                </div>
            </form>

        </div>
        {% endblock  %}
    </body>
<!-- END BODY -->

</html>