{% if data.count > 3 %}
<div class="margin-top-20">
<ul class="pagination">

<li>
<a href="javascript:;" page=1 {% if data.current == data.prev %} style="display:none" {% endif %}>
First </a>
</li>
<li>
<a href="javascript:;" page='{{data.prev}}' {% if data.current == data.prev %} style="display:none" {% endif %}>
Prev </a>
</li>
{% for page in data.pageNo %}
<li {% if data.current == page %} class="active" {% endif %}><a href="javascript:;" page={{page}}> {{data.current}} </a></li>
{% endfor %}
<li>
<a href="javascript:;" page='{{data.next}}' {% if data.next-1 == data.last %} style="display:none" {% endif %}>
Next </a>
</li>
<li>
<a href="javascript:;" page={{data.last}} {% if data.next-1 == data.last %} style="display:none" {% endif %}>
Last </a>
</li>
</ul>
</div>
{% endif %}