{% extends 'layout.html' %}

{% if message.success %}
<div class="alert alert-success">
    <strong>Success!</strong>
    {{message.success}}.
</div>
{% endif %}

{% if message.warning %}
<div class="alert alert-warning">
    <strong>Warning!</strong>
    {{message.warning}}.
</div>
{% endif %}

{% if message.error %}
<div class="alert alert-danger">
    <strong>Error!</strong>
    {{message.error}}.
</div>
{% endif %}


{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                     
                </div>
                <div class="desc">
                   User Count: {{count}}
                </div>
            </div>
            <a class="more" href="/user">
                 View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue-madison">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                         
                    </div>
                    <div class="desc">
                        Payment Gateway
                    </div>
                </div>
                <a class="more" href="/dashboard/payment">
                     Click to Pay <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    
    
    
</div>
{% endblock %}