<!DOCTYPE html>
<html>
{% extends 'layout.html' %}

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   -->
    {% block css %}
    <style>
        .content{
            height: 150px;
        }
        </style>
    {% endblock  %}
</head>

<body>
    {% block content %}
    <div class="row">
        <div class="col-6">
                {% if message.success %}
                <div class="alert alert-success">
                    <strong>Success!</strong>
                    {{message.success}}.
                </div>
                {% endif %}
                
                {% if message.warning %}
                <div class="alert alert-warning">
                    <strong>Warning!</strong>
                    {{message.warning}}.
                </div>
                {% endif %}
                
                {% if message.error %}
                <div class="alert alert-danger">
                    <strong>Error!</strong>
                    {{message.error}}.
                </div>
                {% endif %}
                
        </div>
    </div>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Category</h2>
                    </div>
                    <div class="col-sm-4">
                            <a href="/job/category" class="btn btn-info add-new">Add New Category</a>
                            
    
    
        
                        </div>
                    
                </div>
            </div>

             <div id="mytable">
                {% include 'categoryDataTable.html' %}


            {% include 'pagination.html' %}

             </div>  
       
    

    
        </div>

    
    </div>

 
    {% endblock  %}
    {% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
    <script src="/javascripts/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.2/bootbox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js
    " type="text/javascript"></script>
    <script src="/javascripts/categoryPagination.js"></script>

    <script>


$('.del').on('click', function () {
let link = $(this).attr('link');
if (confirm("are you sure ? you want to deletep") == true) {
    $.ajax({
        method: "delete",
        url: link,
        success: function (result) {

            window.location.reload();
        }
    })
}
});







    </script>
    {% endblock  %}

</body>

</html>