<html>
{% extends 'layout.html' %}
{% block css %}

{% endblock  %}

<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                {% if message.success %}
                <div class="alert alert-success">
                    <strong>Success!</strong>
                    {{message.success}}.
                </div>
                {% endif %}

                {% if message.warning %}
                <div class="alert alert-warning">
                    <strong>Warning!</strong>
                    {{message.warning}}.
                </div>
                {% endif %}

                {% if message.error %}
                <div class="alert alert-danger">
                    <strong>Error!</strong>
                    {{message.error}}.
                </div>
                {% endif %}

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <div class="portlet box yellow">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Add Category
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>
                            <a href="javascript:;" class="reload">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->

                        <form action="/job/category" method="POST" id="myform" class="form-horizontal">
                            <div class="form-body">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button>
                                    You have some form errors. Please check below.
                                </div>
                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button>
                                    Your form validation is successful!
                                </div>



                                <div class="form-group">
                                    <label class="control-label col-md-3"> Job Category <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" name="category" id="description"
                                                placeholder="Job Category" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group addrow">
                                    <label class="control-label col-md-3"> Job Sub-Category <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>

                                            <input type="text" name="subcategory"
                                                class="form-control input-lg textfield" id="hobbies"
                                                placeholder="Enter your subcategory"><button type="button"
                                                class="btn btn-success button-ho">+</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- 
                                <input type="text" name="policy" value="{{user_role}}"
                                    class="form-control input-lg textfield" id="hobbies"
                                    placeholder="Enter your Hobbies">
                                <button type="button" class="btn btn-danger button-ho">+</button> -->




                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green" id="button">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>

        {% endblock  %}
        {% block js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
        <script src="/javascripts/jobform.js"></script>
        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTesZeG24_38qThSoUg6hXrEUdOpMRS84&libraries=places&callback=initAutocomplete"async defer></script> -->
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTesZeG24_38qThSoUg6hXrEUdOpMRS84&libraries=places&callback=initAutocomplete"
            async defer></script>
        <script>
            $(document).ready(function () {
                $.validator.addMethod("noSpace", function (value, element) {
                    return value == '' || value.trim().length != 0;
                }, "No space please and don't leave it empty")
                jQuery.validator.addMethod("lettersonly", function (value, element) {
                    return this.optional(element) || /^[a-z]+$/i.test(value);
                }, "Letters only please");
                $("#myform").validate({
                    rules: {
                        category:
                        {
                            required: true,
                            noSpace: true,
                            minlength: 5,
                            maxlength: 30,
                            lettersonly: true
                        },
                        subcategory:
                        {
                            required: true,
                            noSpace: true,
                            minlength: 5,
                            maxlength: 50,
                            lettersonly: true
                        },

                    },
                    messages: {
                        category: {
                            minlength: "Must be of 5 letters",
                            maxlength: "please not enter more than 10 ",
                            required: "please enter your category",
                            noSpace: "Space is not allowed in starting",
                            lettersonly: "Numbers are not allowed"
                        },
                        subcategory: {
                            minlength: "Must be of 5 letters",
                            maxlength: "please not enter more than 50 ",
                            required: "please enter your subcategory",
                            noSpace: "Space is not allowed in starting",
                            lettersonly: "Numbers are not allowed"

                        },

                    }
                });

            });

            $(document).on("click", ".button-ho", function () { //INSERT AND DELETE THE INPUT FIELD FOR HOBBIES
                if ($(this).text() == "+") {
                    $(".addrow").append("<br><div class='col-md-4'><input type='text' name='subcategory' class='form-control textfield' placeholder='enter you subcategory '><button type='button' class='btn btn-danger button-ho'>-</button></div>");

                }
                else {
                    $(this).parent().remove();
                }
            });

        </script>

        {% endblock  %}
</body>

</html>