<!-- <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->


  <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Job Listing</a>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
                <a href="javascript:;" class="reload">
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-hover">
                    <thead>
                    <tbody>
                        <tr>
                            <th>Sr.no</th>
                            <th>Category</th>
                            <th>Sub Category</th>
                            <th>Created Date</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        {% set index= data.sr%}
                        {% for result in data %}
    
                        <tr>
                            <td style="word-break: break-all;">{{index}}</td>
                            <td style="word-break: break-all;">{{result.category}}</td>
                            <td style="word-break: break-all;">{{result.subcategory}}</td>

                            <td style="word-break: break-all;">{{result.created_at| date('y-m-d')}}</td>
                            
                            <td>
                                    <a class=" btn btn-circle btn-icon-only btn-default"href="/job/category/edit/{{result.id}}"><span aria-hidden="true" style="color:blue;"class="icon-note"></span></a>

                                <a name="del" class="del btn btn-circle btn-icon-only btn-default" link='/job/category/del/{{result.id}}'><span aria-hidden="true"
                                    style="color:red;" class="icon-trash"></span></a>
    
    
                                <!-- <a href="/del/{{data.id}}">Del</a> -->
                            </td>
                        </tr>
                        {% set index=index+1 %}
                        {% endfor %}
                        Page No : {{data.current}}
    
    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
    <script src="/javascripts/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.2/bootbox.js"></script>