<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}
<!--<![endif]-->
<!-- BEGIN HEAD -->

<body>
	{% block content %}
	<!-- BEGIN HEADER -->
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->

		<!-- END SIDEBAR -->
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
				<div class="row margin-top-20">
					<div class="col-md-12">
						<!-- BEGIN PROFILE SIDEBAR -->
					
							<!-- PORTLET MAIN -->
						
								<!-- SIDEBAR USERPIC -->
								<div class="profile-userpic">
									<!-- <img src="../../assets/admin/pages/media/profile/profile_user.jpg" -->
									<img src="{{data.profile_pic}}" class="img-circle" alt="profile_pic" style="height: 200px;">
								</div>
								<!-- END SIDEBAR USERPIC -->
								<!-- SIDEBAR USER TITLE -->
								<div class="profile-usertitle">
									<div class="profile-usertitle-name">
										<b>
											<h1>{{data.name}}</h1>
										</b>
									</div>
								</div>
								<!-- END SIDEBAR USER TITLE -->
							
							<!-- END PORTLET MAIN -->
						
						<!-- END BEGIN PROFILE SIDEBAR -->
						<!-- BEGIN PROFILE CONTENT -->
						<div class="profile-content">
							<div class="row">
								<div class="col-md-12">
									<div class="portlet light">
										<div class="portlet-title tabbable-line">
											<div class="caption caption-md">
												<i class="icon-globe theme-font hide"></i>
												<span class="caption-subject font-blue-madison bold uppercase">Profile
													Account</span>
											</div>
											<ul class="nav nav-tabs">
												<li class="active">
													<a href="#tab_1_2" data-toggle="tab">Personal Info</a>
												</li>
												<li>
													<a href="#tab_1_3" data-toggle="tab">Change profile Image</a>
												</li>
												<li>
													<a href="#tab_1_4" data-toggle="tab">Change password</a>
												</li>
											</ul>
										</div>
										<div class="portlet-body">
											<div class="tab-content">
												<!-- PERSONAL INFO TAB -->
												<div class="tab-pane active " id="tab_1_2">
														<form role="form" method="POST" action="/dashboard/changeProfile" >
															<div class="form-group">
																<label class="control-label"> Name</label>
																<input type="text" value="{{data.name}}" name="name" class="form-control"/>
															</div>
															<div class="form-group">
																	<label class="control-label">Email</label>
																	<input type="text" value="{{data.email}}" name="email" class="form-control"/>
																</div>
															<div class="form-group">
																<label class="control-label">Mobile Number</label>
																<input type="text" value="{{data.number}}" name="number" class="form-control"/>
                                                            </div>
                                                            <input type="submit" value="update" class="btn btn-primary">
															</form>
												</div>
												<!-- END PERSONAL INFO TAB -->
												<!-- CHANGE AVATAR TAB -->
												<div class="tab-pane " id="tab_1_3">
													<form action="/dashboard/profileImage"  method="POST">
														<div class="form-group">
															<div class="fileinput fileinput-new"
																data-provides="fileinput">
																<div class="fileinput-new thumbnail"
																	style="width: 200px; height: 150px;">
																	<img src="" id="img" alt=""
																		 />
																	<!-- <img src="" id="profile-img-tag" width="200px" /> -->

																</div>
																<div class="fileinput-preview fileinput-exists thumbnail"
																	style="max-width: 200px; max-height: 150px;">
																</div>
																<div>
																	<span class="btn default btn-file">
																		<input type="file" name="image"
																			id="profile-img" accept="image/*"/>

																	</span>

																	<span class="btn default btn-file">
																		<input value="" type="hidden" name="url"
																			id="profile" />

																	</span>
																	<a href="javascript:;"
																		class="btn default fileinput-exists"
																		data-dismiss="fileinput" id="remove">
																		Remove </a>
																		
																</div>
															</div>

														</div>
														<div class="margin-top-10">
															<input type="submit" id="submit" value="update" class="btn btn-primary">
															
														</div>
													</form>
												</div>
												<!-- END CHANGE AVATAR TAB -->
												<!-- CHANGE PASSWORD TAB -->
												<div class="tab-pane  " id="tab_1_4">
													<form class="forget-form" id="ChangePassword"action="/dashboard/changePasswordUpdate" method="post">
														<div class="form-title">
															<span class="form-title">Change Password ?</span>
														</div>
														<div class="form-group">
															<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Eenter New Password" id="NewPassword"name="NewPassword"/>
															<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="confirm Password" name="ConfirmPassword"/>
															<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Eenter old Password" name="OldPassword"/>
														</div>
														<div class="form-actions">
															<button type="button" id="back-btn" class="btn btn-default">Back</button>
															<input type="submit" class="btn btn-primary uppercase pull-right">Submit</input>
														</div>
													</form>
											</div>
												<!-- END CHANGE PASSWORD TAB -->

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END PROFILE CONTENT -->
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	{% endblock  %}
	{% block js %}
	<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-analytics.js"></script>
	<script src="/javascripts/firebaseConfig.js"></script>
	<script src="/javascripts/firebaseAuth.js"></script>
    
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>

    

	<script>






userlogin("binny@gmail.com","binny12");
firebase.auth().onAuthStateChanged( (user)=>{
  console.log("user >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")

  console.log(user)
  if(user){

	console.log(user)

    let fileUpload = document.getElementById("profile-img")

document.getElementById('remove').style.visibility = 'hidden'
document.getElementById('submit').style.visibility = 'hidden'
fileUpload.addEventListener('change', (evt) =>{
    let firstFile = evt.target.files[0] // upload the first file only
    console.log(firstFile)

    let storageRef = firebase.storage().ref('/profileImage/'+Date.now()+firstFile.name)

    let uploadTask = storageRef.child('images/'+firstFile.name).put(firstFile)

    
    uploadTask.on('state_changed',(snapshot)=>{
      }, (error)=> {
        console.log("Error")
      }, ()=> {
        uploadTask.snapshot.ref.getDownloadURL().then((downloadURL)=> {
          console.log('File available at', downloadURL);
         $('#img').attr('src',downloadURL)
         document.getElementById('remove').style.visibility = 'visible'
         document.getElementById('submit').style.visibility = 'visible'
           document.getElementById('profile').value = downloadURL
           remove.addEventListener('click',()=>{
               var del= firebase.storage().refFromURL(downloadURL)
               del.delete().then( ()=> {
                document.getElementById('remove').style.visibility = 'hidden'
                document.getElementById('submit').style.visibility = 'hidden'
                $('#img').attr('src','null')

               }).catch((error)=>{
                   console.log(error)
               })
           })
        });
      });
})
  }
  else{
    console.log("error")
  }
})

	// })
	
	</script>
	{% endblock  %}

</body>
<!-- END BODY -->

</html>