<html>
{% extends 'layout.html' %}
{% block css %}

{% endblock  %}

<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                {% if message.success %}
                <div class="alert alert-success">
                    <strong>Success!</strong>
                    {{message.success}}.
                </div>
                {% endif %}

                {% if message.warning %}
                <div class="alert alert-warning">
                    <strong>Warning!</strong>
                    {{message.warning}}.
                </div>
                {% endif %}

                {% if message.error %}
                <div class="alert alert-danger">
                    <strong>Error!</strong>
                    {{message.error}}.
                </div>
                {% endif %}

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <div class="portlet box yellow">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Add
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>
                            <a href="javascript:;" class="reload">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->

                        <form action="/company" method="POST" id="myform" class="form-horizontal">
                            <div class="form-body">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button>
                                    You have some form errors. Please check below.
                                </div>
                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button>
                                    Your form validation is successful!
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Name <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" name="name" id="name" placeholder="Name"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Email <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" name="email" id="email" placeholder="Email"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Password <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="password" name="password" id="password" placeholder="password"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green" id="button">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>

        {% endblock  %}
        {% block js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
        <script>
            $(document).ready(function () {
                $.validator.addMethod("noSpace", function (value, element) {
                    return value == '' || value.trim().length != 0;
                }, "No space please and don't leave it empty")


                $("#myform").validate({
                    rules: {
                        name:
                        {
                            maxlength: 20,
                            required: true,
                            noSpace: true
                        },
                        email:
                        {
                            required: true,
                            maxlength: 30,
                            email: true,
                            noSpace: true
                        },
                        password:
                        {
                            minlength: 5,
                            maxlength: 20,
                            required: true,
                            noSpace: true
                        },




                    },
                    messages: {
                        name: {
                            maxlength: "please not enter more than 20 ",
                            required: "please enter your name",
                            noSpace: "Please eneter the Alphabet"
                        },

                        email: {
                            email: "Enter valid email eg. abc@gmail.com",
                            maxlength: "please not enter more than 20 ",
                            required: "please enter your email",
                            noSpace: "Please eneter the Alphabet"

                        },

                        password: {
                            minlength: "Must be of 5 letters",
                            maxlength: "please not enter more than 20 ",
                            required: "please enter your password",
                            noSpace: "Please eneter the Alphabet"
                        },


                    }
                });

            });
        </script>

        {% endblock  %}
</body>

</html>