<!-- <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->


<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Company Listing</a>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
            <a href="javascript:;" class="reload">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tbody>
                    <tr>
                        <th>Sr.no</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Created Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    {% set index= data.sr%}
                    {% for result in data %}

                    <tr>
                        <td style="word-break: break-all;">{{index}}</td>
                        <td style="word-break: break-all;">{{result.name}}</td>
                        <td style="word-break: break-all;">{{result.email}}</td>
                        <td style="word-break: break-all;">{{result.created_at| date('y-m-d')}}</td>
                        <td>
                            {% if result.status==1 %}
                            <a class="status btn btn-circle btn-icon-only btn-default" status=0
                                link="/user/status/{{result.id}}" page={{data.current}}><i class="fa fa-circle"
                                    style="color: green;" aria-hidden="true"></i></a>
                            {% else %}
                            <a class="status btn btn-circle btn-icon-only btn-default" status=1 page={{data.current}}
                                link="/user/status/{{result.id}}"><i class="fa fa-circle" style="color:red;"
                                    aria-hidden="true"></i></a>
                            {% endif %}
                        </td>
                        <td>
                            <a name="del" class="del btn btn-circle btn-icon-only btn-default" style="color:red;"
                                link='/user/del/{{result.id}}'><span aria-hidden="true" class="icon-trash"></span></a>

                            <!-- <a href="/del/{{data.id}}">Del</a> -->
                        </td>
                    </tr>
                    {% set index=index+1 %}
                    {% endfor %}
                    Page No : {{data.current}}


                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
<script src="/javascripts/custom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.2/bootbox.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js
" type="text/javascript"></script>
<script src="/javascripts/pagination.js"></script>