<!DOCTYPE html>
<html>
{% extends 'layout.html' %}

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block css %}{% endblock  %}
</head>

<body>
    {% block content %}
    
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-4">
                        
    
                    </div>
                </div>
            </div>

            <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Click here to <a href="/emailTemplate/emailTemplate_form" style="color: black;">add new template</a>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>
                            <a href="javascript:;" class="reload">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                <tbody>
                                    <tr>
                                            <th>Sr.no</th>
                                            <th>Name</th>
                                            <th>Subject</th>
                                            <th>Created Date</th>
                                            <th>Actions</th>
                                    </tr>
                                    </thead>
                                    {% set index=1 %}
                                    {% for data in data %}
                                    <tr>
                                        <td>{{index}}</td>
                                        <td>{{data.name}}</td>
                                        <td>{{data.subject}}</td>
                                        <td>{{data.created_at| date('y-m-d')}}</td>
                                        
                        <td> 
                                <a href="/emailTemplate/edit/{{data.id}}"> <span aria-hidden="true" class="icon-note"></span></a>
                                <a name="del" class="del" link='/emailTemplate/del/{{data.id}}'><span aria-hidden="true" class="icon-trash"></span></a>
                                <!-- <a href="/del/{{data.id}}">Del</a> -->
                            </td>
                                    </tr>
                                    {%set index = index+1%}
                                    {% endfor %}
    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    
        </div>
    
    </div>

    {% endblock  %}
    {% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
    <script src="/javascripts/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.2/bootbox.js"></script>
    
    <script>



$('.del').on('click', function () {
let link = $(this).attr('link');
if (confirm("are you sure ? you want to delete") == true) {
    $.ajax({
        method: "delete",
        url: link,
        success: function (result) {

            window.location.reload();
        }
    })
}
});

    </script>
    {% endblock  %}

</body>

</html>