{% extends 'layout.html' %}
{% block content %}

<form class="forget-form" action="/forgetPasswordUpdate" method="post">
    <div class="form-title">
        <span class="form-title">Forget Password ?</span>
        <span class="form-subtitle">Enter your e-mail to reset it.</span>
    </div>
    <div class="form-group">
        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Eenter Password" name="password"/>
    </div>
    <div class="form-actions">
        <button type="button" id="back-btn" class="btn btn-default">Back</button>
        <button type="submit" class="btn btn-primary uppercase pull-right">Submit</button>
    </div>
</form>
</div>

{% endblock %}