<html>
{% extends 'layout.html' %}
{% block css %}

{% endblock  %}

<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                {% if message.success %}
                <div class="alert alert-success">
                    <strong>Success!</strong>
                    {{message.success}}.
                </div>
                {% endif %}

                {% if message.warning %}
                <div class="alert alert-warning">
                    <strong>Warning!</strong>
                    {{message.warning}}.
                </div>
                {% endif %}

                {% if message.error %}
                <div class="alert alert-danger">
                    <strong>Error!</strong>
                    {{message.error}}.
                </div>
                {% endif %}

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <div class="portlet box yellow">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Add Job
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>
                            <a href="javascript:;" class="reload">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->

                        <form action="/job" method="POST" id="myform" class="form-horizontal">
                            <div class="form-body">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button>
                                    You have some form errors. Please check below.
                                </div>
                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button>
                                    Your form validation is successful!
                                </div>


                                <div class="form-group">
                                    <label class="col-md-3 control-label">Job Name</label>
                                    <div class="col-md-9">
                                        <select id="country" name="jobname" class="options">
                                                <option value="">--Select Job Type--</option>

                                            {% for category in data %}
                                            <option name="{{category.id}}" value="{{category.id}}">{{category.category}}
                                            </option>
                                            {% endfor %}
                                            
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Job Type</label>
                                    <div class="col-md-9">
                                        <select class="states" name="jobtype" id="state">
                                                <option value="">--Select Job Type--</option>

                                            {% for category in data %}
                                            <option name="jobtype">{{category.subcategory}}</option>
                                            {% for result in category.subcategory %}
                                            
                                            <option name="{{category.id}}" value="{{result}}">{{result}} </option>
                                            {% endfor %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3"> Description <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <textarea name="description" id="description" placeholder="Description"
                                                class="form-control" rows="4" cols="50"></textarea>
                                            <!-- <input type="text" name="description" id="description"
                                                placeholder="Description" class="form-control"> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3"> Experience Required <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" name="exp" id="exp" placeholder="Experience Required "
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3"> Company Name <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" name="name"  readonly id="place" value="{{user_data.name}}"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3"> Qualification <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" name="qualification" id="qualification"
                                                placeholder=" qualification " class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3"> Salary <span class="required">
                                            * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" name="salary" id="salary" placeholder=" Salary "
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green" id="button">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>

        {% endblock  %}
        {% block js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
        <script src="/javascripts/jobform.js"></script>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTesZeG24_38qThSoUg6hXrEUdOpMRS84&libraries=places&callback=initAutocomplete"
            async defer></script>
        <script>
            $(document).ready(function () {
                $.validator.addMethod("noSpace", function (value, element) {
                    return value == '' || value.trim().length != 0;
                }, "No space please and don't leave it empty")

                $("#myform").validate({
                    rules: {
                        description:
                        {
                            minlength: 5,
                            maxlength: 50,
                            required: true,
                            noSpace: true
                        },
                        exp:
                        {
                            minlength: 1,
                            maxlength: 2,
                            required: true,
                            noSpace: true,
                            digits: true
                        },
                        // name:
                        // {
                        //     minlength: 5,
                        //     maxlength: 20,
                        //     required: true,
                        //     noSpace: true
                        // },
                        qualification:
                        {
                            maxlength: 20,
                            required: true,
                            noSpace: true
                        },
                        salary:
                        {

                            minlength: 4,
                            maxlength: 15,
                            required: true,
                            noSpace: true,
                            digits: true
                        },





                    },
                    messages: {
                        description:
                        {
                            minlength: "Must be of 5 letters",
                            maxlength: "please not enter more than 50 ",
                            required: "please enter your description",
                            noSpace: "Space is not allowed in starting"
                        },
                        exp:
                        {
                            minlength: "Must be of 1 digit",
                            maxlength: "please not enter more than 2 digits ",
                            required: "please enter Experience required",
                            noSpace: "Space is not allowed in starting",
                            digits: "Alpabets are not allowed , enter digits only"
                        },
                        // name:
                        // {
                        //     minlength: "Must be of 5 letters",
                        //     maxlength: "please not enter more than 20  ",
                        //     required: "please enter company name",
                        //     noSpace: "Space is not allowed in starting",
                        // },
                        qualification:
                        {
                            maxlength: "please not enter more than 20  ",
                            required: "please enter qualification required",
                            noSpace: "Space is not allowed in starting",
                        },
                        salary:
                        {
                            minlength: "Must be of 4 digit",
                            maxlength: "please not enter more than 15 digits ",
                            required: "please enter Salary",
                            noSpace: "Space is not allowed in starting",
                            digits: "Alpabets are not allowed , enter digits only"
                        }

                    }
                });

            });


        </script>
        {% endblock  %}
</body>

</html>