<!DOCTYPE html>
<html>
{% extends 'layout.html' %}

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   -->
    {% block css %}
    <style>
        .content {
            height: 150px;
        }
    </style>
    {% endblock  %}
</head>

<body>
    {% block content %}
    <div class="row">
        <div class="col-6">
            {% if message.success %}
            <div class="alert alert-success">
                <strong>Success!</strong>
                {{message.success}}.
            </div>
            {% endif %}

            {% if message.warning %}
            <div class="alert alert-warning">
                <strong>Warning!</strong>
                {{message.warning}}.
            </div>
            {% endif %}

            {% if message.error %}
            <div class="alert alert-danger">
                <strong>Error!</strong>
                {{message.error}}.
            </div>
            {% endif %}

        </div>
    </div>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>JOBS</h2>
                    </div>
                    <div class="col-sm-4">
                        {% if user_data.role == "company" %}
                        <a href="/job" class="btn btn-info add-new">Add New Job</a>
                        {% endif %}




                    </div>

                </div>
            </div>

            <div id="mytable">
                {% include 'jobDataTable.html' %}


                {% include 'pagination.html' %}

            </div>




        </div>


    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">JOB Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <!-- <pre>
                    Name: {{data.name}}
                    Email: {{data.email}}
                    DOB:{{data.dob}}
                    Phone Number: {{data.number}}
                    Address: {{data.address}}
                    Matriculation:{{data.matriculation}}
                    Sersecondary:{{data.sersecondary}}
                    Graduation{{data.graduation}}
                    PostGraduation{{data.postGraduation}}
                    Experience:{{data.exp}}
              </pre> -->


                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Sr.no</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Address</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td id="name">{{result.name}}</td>
                                <td id="email" style="word-break: break-all;">{{result.email}}</td>
                                <td id="number">{{result.number}}</td>
                                <td id="address">{{result.address}}</td>

                            </tr>


                        </tbody>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    {% endblock  %}
    {% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
    <script src="/javascripts/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.2/bootbox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js
    " type="text/javascript"></script>
    <script src="/javascripts/jobPagination.js"></script>

    <script>
        $('.view').on('click', function () {

            let link = $(this).attr('link');
            console.log(link)
            $.ajax({
                method: "GET",
                url: link,
                success: function (result) {
                    $("#name").text(result.name);
                    $("#email").text(result.email);
                    $("#number").text(result.number);
                    $("#address").text(result.address);
                    console.log(result)
                }
            })
            $('#myModal').modal('show');
        });





        $('.del').on('click', function () {
            let link = $(this).attr('link');
            if (confirm("are you sure ? you want to deletep") == true) {
                $.ajax({
                    method: "delete",
                    url: link,
                    success: function (result) {

                        window.location.reload();
                    }
                })
            }
        });

        $('.status').on('click', function () {

            let status = $(this).attr('status');
            let link = $(this).attr('link');
            let abc = $(this).attr('page');

            var msg = '';
            console.log(abc)
            console.log(status)

            if (status == 1) {
                msg = 'Are you sure you want to Active status'
            }
            else {

                msg = 'Are you sure you want to Deactive status'

            }
            if (confirm(msg)) {
                $.ajax({
                    method: "PUT",
                    url: link,
                    data: { status: status },
                    dataType: 'JSON',
                    success: function (result) {
                        console.log(result)
                        // window.location.reload();
                        window.location.href = '/job/joblist?page=' + abc;

                    }

                });
            }
        });






    </script>
    {% endblock  %}

</body>

</html>