<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .img-box {
            background: url("images/company.jpg");
            background-size: cover;
            background-position-x: center;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            z-index: -2;
            filter: blur(1px);
        }
        .wrapper {
            height: 100vh;
            display: flex;
            padding-top: 8%;
            align-items: center;
            flex-direction: column;
        }
        .wrapper-box {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h3 {
            color: #0e0e0e;
            font-weight: 600;
            font-size: 48px;
            margin-bottom: 86px;
            background: #e2e2e24f;
            padding: 2px 0;
            width: 620px;
            border-radius: 6px;
            box-shadow: 0 0 10px black;
            text-align: center;
        }
        
        .div {
            width: 300px;
            height: 280px;
            border: 1px solid #afafaf;
            border-radius: 6px;
            overflow: hidden;
            margin: 0 12px;
            box-shadow: 0 0 10px #000000a1;
        }

        .div-1:hover a, .div-2:hover a {
            background: #000000db;
            color: white;
            cursor: pointer;
            text-decoration: none;
        }

        .div img {
            width: 100%;
            max-width: 100%;
            height: 75%;
        }

        .div a {
            font-size: 16px;
            font-weight: 600;
            background: #ffffff70;
            color: black;
            text-align: center;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25%;
        }
        

        .sign-in {
            width: 620px;
        }
        .sign-in a:hover {
            background: #0000001a;
            color: black;
            box-shadow: 0 0 10px black;
            font-weight: 600;
            cursor: pointer;
            text-decoration: none;
        }

        .sign-in a {
            display: flex;
            justify-content: center;
            background: #000000db;
            text-align: center;
            color: white;
            box-shadow: 0 6px 10px #000000;
            padding: 20px 0;
            margin-top: 24px;
            border-radius: 6px;
        }
    
    </style>
</head>
<body>

        <div class="row">
                <div class="col-6">
                        {% if message.success %}
                        <div class="alert alert-success">
                            <strong>Success!</strong>
                            {{message.success}}.
                        </div>
                        {% endif %}
                        
                        {% if message.warning %}
                        <div class="alert alert-warning">
                            <strong>Warning!</strong>
                            {{message.warning}}.
                        </div>
                        {% endif %}
                        
                        {% if message.error %}
                        <div class="alert alert-danger">
                            <strong>Error!</strong>
                            {{message.error}}.
                        </div>
                        {% endif %}
                        
                </div>
            </div>
    
    <div class="container-fluid">
        
        <div class="img-box"></div>
        <div class="wrapper">
            <h3>Job Portal</h3>
            <div class="wrapper-box">
                <div class="div div-1">
                    <img src="images/add-company.jpg" alt="company">
                    <a href="/company">Add Company</a>

                    
                    
                </div>
                <div class="div div-2">
                    <img src="images/job-seeker.jpg" alt="seeker">
                    <a href="/seeker">Seeker</a>
                </div>
            </div>
            <div class="sign-in">
                <a href="/login">Sign In </a>
            </div>
        </div>
    </div>

</body>
</html>