<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="sidebar-toggler-wrapper">
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler">
            </div>
            <!-- END SIDEBAR TOGGLER BUTTON -->
        </li>

        <li class="sidebar-search-wrapper">
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
            <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
            <form class="sidebar-search " action="extra_search.html" method="POST">
                <a href="javascript:;" class="remove">
                    <i class="icon-close"></i>
                </a>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                    </span>
                </div>
            </form>
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        {% if user_data.role == "admin"%}

        
        <li {% if active =="dashboard" %} class="active" {% endif %}>
            <a href="/dashboard">
                <i class="icon-bar-chart"></i>
                Dashboard</a>
        </li>
        <li {% if active =="user" %} class="active" {% endif %}>
            <a href="/user/companylist">
                <i class="icon-bar-chart"></i>
                Manage Companies</a>
        </li>

        <li {% if active =="emailTemplate" %} class="active" {% endif %}>
            <a href="/user/seekerlist">
                <i class="icon-bar-chart"></i>
                Manage Seekers</a>
        </li>
        <li {% if active =="emailTemplate" %} class="active" {% endif %}>
                <a href="/job/joblist">
                    <i class="icon-bar-chart"></i>
                    Manage Jobs</a>
            </li>
            <li {% if active =="emailTemplate" %} class="active" {% endif %}>
                    <a href="/job/categorylist">
                        <i class="icon-bar-chart"></i>
                        Manage category</a>
                </li>


                {% elseif user_data.role == "company" %}

                <li {% if active =="emailTemplate" %} class="active" {% endif %}>
                        <a href="/user/seekerlist">
                            <i class="icon-bar-chart"></i>
                            Manage Seekers</a>
                    </li>
                    <li {% if active =="emailTemplate" %} class="active" {% endif %}>
                            <a href="/job/joblist">
                                <i class="icon-bar-chart"></i>
                                Manage Jobs</a>
                        </li>


                <!-- {% elseif user_data.role == "seeker" %}

                    <li {% if active =="emailTemplate" %} class="active" {% endif %}>
                            <a href="/job/joblist">
                                <i class="icon-bar-chart"></i>
                                Manage Jobs</a>
                        </li> -->
                {% endif %}

        <!-- <li {% if active =="dashboard" %} class="active" {% endif %}>
            <a href="/dashboard">
                <i class="icon-bar-chart"></i>
                Dashboard</a>
        </li>
        <li {% if active =="user" %} class="active" {% endif %}>
            <a href="/user/companylist">
                <i class="icon-bar-chart"></i>
                Manage Companies</a>
        </li>

        <li {% if active =="emailTemplate" %} class="active" {% endif %}>
            <a href="/user/seekerlist">
                <i class="icon-bar-chart"></i>
                Manage Seekers</a>
        </li>
        <li {% if active =="emailTemplate" %} class="active" {% endif %}>
            <a href="/job/joblist">
                <i class="icon-bar-chart"></i>
                Manage Jobs</a>
        </li>
        <li {% if active =="emailTemplate" %} class="active" {% endif %}>
            <a href="/job/categorylist">
                <i class="icon-bar-chart"></i>
                Manage category</a>
        </li>
 -->


    </ul>
    <!-- END SIDEBAR MENU -->
</div>