<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.2
Version: 3.7.0
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
  <meta charset="utf-8" />
  <title>Metronic | Form Stuff - Form Layouts</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta content="" name="description" />
  <meta content="" name="author" />
  <!-- BEGIN GLOBAL MANDATORY STYLES -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
    type="text/css" />
  <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"
    type="text/css" />
  <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
  <link href="../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet"
    type="text/css" />
  <!-- END GLOBAL MANDATORY STYLES -->
  <!-- BEGIN PAGE LEVEL STYLES -->
  <link rel="stylesheet" type="text/css" href="../../assets/global/plugins/select2/select2.css" />
  <!-- END PAGE LEVEL SCRIPTS -->
  <!-- BEGIN THEME STYLES -->
  <link href="../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
  <link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
  <link href="../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
  <link id="style_color" href="../../assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" />
  <link href="../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" type="text/css" />

  <!-- END THEME STYLES -->
  <link rel="shortcut icon" href="favicon.ico" />
  <style>
    .portlet {

      width: 50%;
      margin-left: 24%;
      margin-top: 8%;
    }
  </style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->

<body>
    <div class="row">
        <div class="col-6">
                {% if message.success %}
                <div class="alert alert-success">
                    <strong>Success!</strong>
                    {{message.success}}.
                </div>
                {% endif %}
                
                {% if message.warning %}
                <div class="alert alert-warning">
                    <strong>Warning!</strong>
                    {{message.warning}}.
                </div>
                {% endif %}
                
                {% if message.error %}
                <div class="alert alert-danger">
                    <strong>Error!</strong>
                    {{message.error}}.
                </div>
                {% endif %}
                
        </div>
    </div>

  <div class="portlet box green">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-gift"></i>Registration
      </div>
      <div class="tools">
        <a href="javascript:;" class="collapse">
        </a>
        <a href="#portlet-config" data-toggle="modal" class="config">
        </a>
        <a href="javascript:;" class="reload">
        </a>
        <a href="javascript:;" class="remove">
        </a>
      </div>
    </div>

    <div class="portlet-body form">
      <!-- BEGIN FORM-->
      <form method="post" action="/seeker" id="myform" class="form-horizontal">
        <div class="form-body">
          <h3 class="form-section">Basic Info</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Name</label>
                <div class="col-md-9">

                  <input type="text" class="form-control" name="name">
                  <span class="help-block">
                  </span>
                </div>
              </div>
            </div>
            <!--/span-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-md-3">DOB</label>
                  <div class="col-md-9">

                    <input type="text" class="form-control" id="datepicker" name="dob">
                    <span class="help-block">
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!--/span-->
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Email</label>
                <div class="col-md-9">

                  <input type="text" class="form-control" name="email">
                  <span class="help-block">
                  </span>
                </div>
              </div>
            </div>
            <!--/span-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-md-3">Password</label>
                  <div class="col-md-9">

                    <input type="password" class="form-control" name="password">
                    <span class="help-block">
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!--/span-->
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Phone </label>
                <div class="col-md-9">

                  <input type="text" class="form-control" name="phnumber">
                  <span class="help-block">
                  </span>
                </div>
              </div>
            </div>
          </div>

          <h3 class="form-section">Address</h3>
          <!--/row-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Address </label>
                <div class="col-md-9" id=" locationField">
                  <input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text" id="add"
                    class="form-control" name="address">
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">City</label>
                <div class="col-md-9">
                  <input class="field form-control" id="locality" disabled="true" name="city" />
                </div>
              </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">State</label>
                <div class="col-md-9">
                  <input class="field form-control" id="administrative_area_level_1" disabled="true" name="state" />
                </div>
              </div>
            </div>
            <!--/span-->
          </div>
          <!--/row-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Post Code</label>
                <div class="col-md-9">
                  <input class="field form-control" id="postal_code" disabled="true" name="pin" />
                </div>
              </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Country</label>
                <div class="col-md-9">
                  <input class="field form-control" id="country" disabled="true" name="country" />
                </div>
              </div>
            </div>
            <!--/span-->
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Street address</label>
                <div class="col-md-9">
                  <input class="field form-control" id="street_number" disabled="true" name="streetaddress" />
                </div>
              </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
              <div class="form-group">
                <div class="col-md-9">
                  <input class="field form-control" id="route" disabled="true" name="streetaddress" />
                </div>
              </div>
            </div>
            <!--/span-->
          </div>
          <!--/row-->
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-offset-3 col-md-9">
                  <button type="submit" class="btn green">Submit</button>
                  <button type="button" class="btn default">Cancel</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
            </div>
          </div>
        </div>
      </form>
      <!-- END FORM-->
    </div>
  </div>

  <script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
  <script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
  <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
  <script src="../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
  <script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
    type="text/javascript"></script>
  <script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
  <script src="../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
  <script src="../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
  <script src="../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
  <script src="../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
  <!-- END CORE PLUGINS -->
  <!-- BEGIN PAGE LEVEL PLUGINS -->
  <script type="text/javascript" src="../../assets/global/plugins/select2/select2.min.js"></script>
  <!-- END PAGE LEVEL PLUGINS -->
  <!-- BEGIN PAGE LEVEL SCRIPTS -->
  <script src="../../assets/global/scripts/metronic.js" type="text/javascript"></script>
  <script src="../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
  <script src="../../assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
  <script src="../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
  <script src="../../assets/admin/pages/scripts/form-samples.js"></script>
  <!-- END PAGE LEVEL SCRIPTS -->
  <script src="/javascripts/seeker.js"></script>
  <script src="  https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTesZeG24_38qThSoUg6hXrEUdOpMRS84&libraries=places&callback=initAutocomplete"
    async defer></script>
  <script>
    jQuery(document).ready(function () {
      // initiate layout and plugins
      Metronic.init(); // init metronic core components
      Layout.init(); // init current layout
      QuickSidebar.init(); // init quick sidebar
      Demo.init(); // init demo features
      FormSamples.init();
    });

    $(function () {
      $("#datepicker").datepicker();
    });


    $(document).ready(function () {
      $.validator.addMethod("noSpace", function (value, element) {
        return value == '' || value.trim().length != 0;
      }, "No space please and don't leave it empty")

      $("#myform").validate({
        rules: {
          name:
          {
            minlength: 5,
            maxlength: 20,
            required: true,
            noSpace: true
          },
          dob:
          {
            required: true,
            noSpace: true
          },
          email:
          {
            required: true,
            maxlength: 30,
            email: true,
            noSpace: true
          },
          password:
          {
            minlength: 5,
            maxlength: 20,
            required: true,
            noSpace: true
          },
          phnumber:
          {
            minlength: 10,
            maxlength: 10,
            required: true,
            noSpace: true
          },
          address:
          {
            required: true,
            noSpace: true
          },





        },
        messages: {
          name: {
            minlength: "Must be of 5 letters",
            maxlength: "please not enter more than 20 ",
            required: "please enter your name",
            noSpace: "Please eneter the Alphabet"
          },
          dob: {
            required: "please enter your DOB",
            noSpace: "Please eneter the date"
          },
          email: {
            email: "Enter valid email eg. abc@gmail.com",
            maxlength: "please not enter more than 20 ",
            required: "please enter your email",
            noSpace: "Please eneter the Alphabet"

          },
          phnumber: {
            minlength: "enter 10 digit phone number",
            maxlength: "phone number is not more than 10 digits ",
            required: "please enter your Number",
            noSpace: "Please eneter the digits"
          },
          password: {
            minlength: "Must be of 5 letters",
            maxlength: "please not enter more than 20 ",
            required: "please enter your password",
            noSpace: "Please eneter the Alphabet"
          },
          address: {
            required: "please enter your Address",
            noSpace: "Please eneter the Alphabet"
          },

        }
      });

    });

  </script>
  <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->

</html>